
<!DOCTYPE html>
<html lang="en">
<head>

    <title>
        {% block title %}
        {% endblock %}
    </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    {# Bootstrap core CSS #}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {# Bootstrap core JavaScript #}
    <script src="{{url_for('static',filename='jquery.min.js')}}"></script>
  -->
  </head>
<body>

    {% block content %}
    {% endblock %}

    <footer style="background-color: rgb(28, 28, 28);padding:2em 0;margin-top:1em;">
        <p style="margin-bottom:0;color:#fff" > KEEP LEARNING </p>
    </footer>

    <!--
    <script src="{{url_for('static',filename='script.js')}}"></script>
    -->
</body>
</html>
